In [4]:
import pandas as pd

import os

import numpy as np

import networkx as nx

import matplotlib.pyplot as plt

from IPython.display import clear_output

In [5]:
df_comments = pd.read_csv('data/get_comment_threads_output/comments_thread_sentiment_reduced.csv')
df_videos = pd.read_csv('data/get_videos_details/videos_details_computed.csv')
df_youtuber_videos = pd.read_csv('data/get_youtuber_videos_output/youtuber_videos.csv')
df_youtubers = pd.read_csv('data/get_youtubers_output/youtubers.csv')

In [6]:
df_videos

,video_id,category_id,topics,brands,youtubers
0,WyUyJKm-MiY,Entertainment,"['social media', 'music', 'review']",['jeffree star cosmetics'],[]
1,5mUQo6lQG-U,Howto & Style,"['new product launch', 'lifestyle', 'review']",['jeffree star cosmetics'],[]
2,QhbR5TEAMco,Howto & Style,"['pet', 'lifestyle']",[],[]
3,3qYykmHx5gc,Entertainment,"['social media', 'lifestyle', 'review']",[],[]
4,SxixuClI2vA,Howto & Style,"['lifestyle', 'review']","['colourpop cosmetics', 'jeffree star cosmetics']",[]
...,...,...,...,...,...
2587,bm-3Qrr7EUA,Howto & Style,['lifestyle'],[],[]
2588,hkxRjDS_Cjw,Howto & Style,['lifestyle'],[],[]
2589,8kElrRAa1ws,Howto & Style,[],[],[]
2590,7x6tX5T7LOs,Howto & Style,['lifestyle'],['maybelline'],[]
2591,NSdUFKOkKnc,Howto & Style,['lifestyle'],[],[]

In [7]:
user_name_set= set()
nan_number=0
for comment in df_comments.values:
    if comment[2]!= None:
        user_name_set.add(comment[2])
    else:
        nan_number+=1

# nodi grafo

In [8]:
first_graph = nx.Graph()

In [9]:
tot_nodes= list(user_name_set)

In [10]:
#tolgo il nan
tot_nodes = tot_nodes[1:]

In [11]:
first_graph.add_nodes_from(tot_nodes)

continuo con i dati per elaborare i link

In [12]:
df_comments[df_comments.columns[2]].isnull().sum(axis = 0)#buono!

16

In [13]:
youtuber_video_join=df_youtubers.set_index('channel_id').join(df_youtuber_videos.set_index('channel_id'), on='channel_id',lsuffix='_yt', rsuffix='_ytvd')

In [14]:
youtuber_video_join = youtuber_video_join[youtuber_video_join.columns[[0,2]]]

In [15]:
youtuber_video_join = youtuber_video_join.set_index('video_id').join(df_videos.set_index('video_id'),on='video_id',lsuffix='_yt', rsuffix='_ytvd')

In [16]:
youtuber_video_join

,display_name,category_id,topics,brands,youtubers
video_id,,,,,
WyUyJKm-MiY,jeffreestar,Entertainment,"['social media', 'music', 'review']",['jeffree star cosmetics'],[]
5mUQo6lQG-U,jeffreestar,Howto & Style,"['new product launch', 'lifestyle', 'review']",['jeffree star cosmetics'],[]
QhbR5TEAMco,jeffreestar,Howto & Style,"['pet', 'lifestyle']",[],[]
3qYykmHx5gc,jeffreestar,Entertainment,"['social media', 'lifestyle', 'review']",[],[]
SxixuClI2vA,jeffreestar,Howto & Style,"['lifestyle', 'review']","['colourpop cosmetics', 'jeffree star cosmetics']",[]
...,...,...,...,...,...
bm-3Qrr7EUA,maybellinenewyork,Howto & Style,['lifestyle'],[],[]
hkxRjDS_Cjw,maybellinenewyork,Howto & Style,['lifestyle'],[],[]
8kElrRAa1ws,maybellinenewyork,Howto & Style,[],[],[]
7x6tX5T7LOs,maybellinenewyork,Howto & Style,['lifestyle'],['maybelline'],[]
NSdUFKOkKnc,maybellinenewyork,Howto & Style,['lifestyle'],[],[]

In [17]:
df_comments

           video_id        top_level_comment_id author_display_name  sentiment
0       WyUyJKm-MiY  UgxmeuEGKaTnjr18AVZ4AaABAg        Imaan Jaffri          0
1       WyUyJKm-MiY  UgzlwPwyC3XlmzgzBr54AaABAg         Karlee Nash          0
2       WyUyJKm-MiY  UgynycPfXmKJePLzAEp4AaABAg        Bernice Ayer          1
3       WyUyJKm-MiY  UgwamwomyWMY8bpiPjp4AaABAg       Molly Seymour          1
4       WyUyJKm-MiY  Ugx7NWDtnzTkeACe5yJ4AaABAg   Charbonelle Weese          0
...             ...                         ...                 ...        ...
230735  8kElrRAa1ws  UgwSdanGKGsGd4DUmIl4AaABAg              Bree e          0
230736  8kElrRAa1ws  Ugy-wtIUI069bRoN9K14AaABAg         Tonya Wykle          1
230737  8kElrRAa1ws  UgwtkQootxJ6rfJzvPh4AaABAg               Lesly          0
230738  8kElrRAa1ws  Ugz_Yj_AX5darh32Y7t4AaABAg       Scarlet Black          0
230739  8kElrRAa1ws  Ugx9T5pgiWFHmv6Glbl4AaABAg    Milkshake Nugget          1

[230740 rows x 4 columns]

In [34]:
edges = []

In [38]:
pairs_computed=[]
for idx_row_1, row_1 in enumerate(zip(youtuber_video_join.index,youtuber_video_join.values)):
    row_1_idx = row_1[0]
    row_1_val = row_1[1]
    matches_topics = set([item.strip()[1:-1] for item in row_1_val[2][1:-1].split(',')])
    matches_brands = set([item.strip()[1:-1] for item in row_1_val[3][1:-1].split(',')])
    matches_youtubers = set([item.strip()[1:-1] for item in row_1_val[4][1:-1].split(',')])
    matches_youtubers.add(row_1_val[0])
    rows_0 = (df_comments.loc[df_comments['video_id'] == row_1_idx]).values
    for idx_row_2, row_2 in enumerate(zip(youtuber_video_join.index[idx_row_1:],youtuber_video_join.values[idx_row_1:])):
        row_2_idx = row_2[0]
        row_2_val = row_2[1]
        if {row_1_idx,row_2_idx} not in pairs_computed:
            details = {'youtubers':[],'topics':[],'brands':[], 'sentiment':0}
            topics_ = set([item.strip()[1:-1] for item in row_2_val[2][1:-1].split(',')])
            brands_ = set([item.strip()[1:-1] for item in row_2_val[3][1:-1].split(',')])
            youtubers_ = set([item.strip()[1:-1] for item in row_2_val[4][1:-1].split(',')])
            youtubers_.add(row_2_val[0])
            
            common_topics = matches_topics.intersection(topics_)
            common_brands = matches_brands.intersection(brands_)
            common_youtubers = matches_youtubers.intersection(youtubers_)
            
            union_topics = matches_topics.union(topics_)
            union_brands = matches_brands.union(brands_)
            union_youtubers = matches_youtubers.union(youtubers_)
            
            if len(common_topics)>0:
                [details['topics'].append(item) for item in common_topics]
            if len(common_brands)>0:
                [details['brands'].append(item) for item in common_brands]
            if len(common_youtubers)>0:
                [details['youtubers'].append(item) for item in common_youtubers]
            w = (len(common_topics)+len(common_brands)+len(common_youtubers))/(len(union_topics)+len(union_brands)+len(union_youtubers))
            
            for id_c_0,comment_0 in enumerate(rows_0):
                rows_1 = (df_comments.loc[df_comments['video_id'] == row_2_idx]).values
                for id_c_1,comment_1 in enumerate(rows_1):
                    print('___________________________________________________________')
                    print('Computing {}-{}/{}'.format(idx_row_1,idx_row_2,len(youtuber_video_join.index[idx_row_1:])))
                    print('Comments {}-{}/{}'.format(id_c_0,id_c_1,len(rows_0)*len(rows_1)))
                    clear_output(wait=True)
                    
                    if comment_0[3] == comment_1[3]:
                        if comment_0[3] == 1:
                            details['sentiment'] = 1
                        else:
                            details['sentiment'] = 0
                    else:
                        details['sentiment'] = -1
                        
                    edges.append([(comment_0[2],comment_1[2],w),details])
                    
            pairs_computed.append({row_1_idx,row_2_idx})

___________________________________________________________
Computing 0-36/2594
Comments 57-23/10000

In [ ]:
np.save('make_network_output/edges_var2_100.npy', edges)